body {
    background-color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.yazı1 {
    color: white;
    font-size: 60px;
    letter-spacing: 8px;
    margin-bottom: 20px;
    animation: yazı-animation 2s ease;
    -webkit-animation: yazı-animation 2s ease;
    /* position: relative; */
    z-index: 1;
    background-color: black;
}

.yazı2 {
    color: white;
    font-size: 30px;
    letter-spacing: 8px;
}

.yazı2 a {
    color: orange;
    text-decoration: none;
}


@keyframes yazı-animation {
    0% {
        margin-bottom: -40px;
        letter-spacing: 8px;
    }

    30% {
        margin-bottom: -40px;
        letter-spacing: 30px;
    }

    90% {
        margin-bottom: -40px;
    }
}